@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 75px;
    }

    .banner_one_img {
        padding-top: 50px;
    }

    #rservition_area {
        padding: 60px 0;
    }

    .section_padding {
        padding: 70px 0;
    }

    .promotion_info h2 {
        font-size: 41px;
        line-height: 60px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .rservition_info h2 {
        font-size: 41px;
        line-height: 65px;
        padding-top: 60px;
    }

    #home_one_banner {
        padding: 150px 0;
    }

    .banner_one_text h1 span {
        font-weight: 600;
        font-size: 65px;
    }

    .special_offer_text h2 {
        font-size: 30px;
        line-height: 50px;
        padding-top: 20px;
    }

    #special_offer_area {
        padding: 60px 0;
    }

    .special_offer_text a {
        margin-top: 30px;
    }
}

@media (max-width: 1199px) {


    .theme_nav_tab_item .nav-tabs .nav-link {
        margin-bottom: 0;
        background: 0 0;
        border: 1px solid var(--main-color);
        color: var(--black-color);
        padding: 6px 20px;
        border-radius: 5px;
        margin-right: 14px;
    }

    .banner_one_text h1 {
        font-size: 50px;
    }

}

@media (max-width: 992px) {

    .pt-20 {
        padding-top: 0;
    }

    .banner_one_text h1 span {
        font-size: 55px;
    }

    .reservation_img {
        display: none;
    }

    .about_us_right {
        padding-top: 60px;
    }

    .about_service_boxed {
        margin-bottom: 30px;
    }

    .footer_link_area {
        padding-bottom: 30px;
    }

    #home_one_banner {
        padding: 275px 0 280px 0;
    }

    .topbar-list li:first-child {
        display: none;
    }

    #footer_area {
        padding: 70px 0px 40px 0;
    }

    .theme_nav_tab_item .nav-tabs .nav-link {
        margin-bottom: 10px;
    }

    .cat_form {
        padding-top: 30px;
    }

    .contact_boxed {
        margin-bottom: 30px;
    }

    .blogs_area_top_right {
        padding-top: 30px;
    }

    .recent_blogs_img {
        width: auto;
    }

    .promotion_banner {
        display: none;
    }

}

@media (max-width: 767px) {
    .topbar-area {
        display: none;
    }

    .common_author_form {
        padding: 50px 0px 0px 0px;
    }

    .comment_area_boxed {
        display: initial;
    }

    .comment_img {
        width: 100%;
    }

    .comment_text {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .counter_item {
        border-bottom: 1px solid #e9e9e9;
        border-right: none;
    }

    .copyright_right {
        text-align: center;
    }

    .copyright_left {
        text-align: center;
        padding-bottom: 10px;
    }

    .heading_left_area h2 span {
        display: initial;
        border-bottom: none;
        padding-bottom: 0;
    }

    .heading_left_area {
        text-align: center;
    }

    .banner_one_text h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .special_offer_text h2 {
        font-size: 30px;
        line-height: 50px;
        padding-top: 10px;
    }

    .rservition_info h2 {
        font-size: 30px;
        line-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .promotion_info h2 {
        font-size: 30px;
        line-height: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #home_one_banner {
        padding: 30px 0 50px 0;
    }

    .banner_one_text .sub-text {
        padding-bottom: 15px;
    }

    .banner_one_text h1 span {
        font-size: 45px;
    }

    .banner_one_img {
        margin-top: 30px;
    }

    .banner_one_text p {
        font-size: 14px;
    }

    #special_offer_area {
        padding: 60px 0;
    }

    .section_heading_center h2 {
        padding-bottom: 11px;
        font-size: 26px;
    }

    #theme_search_form {
        margin-top: 50px;
    }

    .food_details_heading_wrapper {
        display: inherit;
    }

    .food_details_top_heading_right {
        padding-top: 20px;
    }

    .toru_details_top_bottom_item {
        display: inline-grid;
        align-items: center;
    }

    .main_header_arae {
        position: inherit;
        width: 100%;
        z-index: 9999;
    }

    #common_banner {
        padding: 100px 0 100px 0;
    }
}

@media (max-width: 576px) {
    .download_btn a img {
        width: 40%;
    }

    #about_service_offer {
        padding-bottom: 30px;
    }

    .section_padding_top {
        padding: 40px 0 0 0;
    }

    .section_padding {
        padding: 40px 0;
    }

    .about_us_left h2 {
        font-size: 34px;
        line-height: 47px;
        padding-top: 10px;
    }

    .about_us_left {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #about_us_top {
        padding: 40px;
    }

    #rservition_area {
        padding: 40px 0;
    }

    .rservition_info h2 {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 29px;
        line-height: 40px;
    }

    h4 {
        font-size: 16px;
    }

    #cta_area {
        padding: 40px 0;
    }

    .section_heading_center h2 {
        margin-bottom: 40px;
    }

    .rservition_info p {
        font-size: 14px;
        padding-bottom: 20px;
        line-height: 26px;
    }

    .promotion_info h2 {
        font-size: 24px;
        line-height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #promotion_area {
        padding: 40px;
    }

    .promotion_info p {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 28px;
    }

    .promotional-image {
        display: none;
    }

    .download_pdf_area {
        display: inherit;
    }

    .downloads_pdf_button {
        padding-top: 20px;
    }

    .phone_tuch_area {
        display: inherit;
    }

    .phone_tuch_area h3 a {
        margin-top: 10px;
        display: block;
    }


    .food_details_top_heading h2 {
        font-size: 28px;
    }

    .accordion_flex_area {
        display: inherit;
    }

    .cta_left {
        display: inherit;
    }

    .cta_content {
        padding-left: 0px;
    }

    .cta_icon {
        width: 35%;
        padding-bottom: 20px;
    }

    .footer_first_area {
        padding-bottom: 30px;
    }

    .section_padding_top {
        padding: 60px 0 0 0;
    }

    .food_details_top_bottom {
        display: inherit;
    }

    .toru_details_top_bottom_item {
        display: inherit;
    }
}

@media (max-width: 480px) {
    .order_success_arae {
        display: initial;
        padding: 0px 0px;
        text-align: center;
    }

    .order_success_text {
        padding-left: 0px;
        padding-top: 20px
    }

    .recent_blogs_item {
        display: block;
    }

    .recent_blogs_img {
        width: 100%;
    }

    .recent_blogs_text {
        padding-left: 0;
        padding-top: 10px;
    }

    .theme_nav_tab_item .nav-tabs .nav-link {
        padding: 4px 12px;
        margin-right: 10px;
        font-size: 14px;
    }
}

@media (max-width: 361px) {}